//Hero banners

.cs-hero {
  min-height: 100dvh;
  background-size: cover;
  background-position: center;
  position: relative;

  &.small{
    min-height: 60dvh;
  }

  &.gradient-v {
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #252f56;
      background: linear-gradient(
        180deg,
        rgba(37, 47, 86, 0) 0%,
        rgba(37, 47, 86, 0) 53%,
        rgba(37, 47, 86, 1) 100%
      );
    }
  }

  &.gradient-h {
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #252f56;
      background: linear-gradient(
        270deg,
        rgba(37, 47, 86, 0) 0%,
        rgba(37, 47, 86, 0) 59%,
        rgba(37, 47, 86, 1) 100%
      );
    }
  }

  .content {
    position: relative;
    z-index: 3;

    &.card-content {
      background-color: $primary-white;
      border-radius: 1.5rem;
    }
  }

  .bg-pink {
    background-color: #fbb5ca;
    border-radius: 1.5rem 1.5rem 0 0;

    h1 {
      font-family: "Albert Sans", sans-serif;
      font-size: clamp(2rem, 0.75rem + 4vw, 3rem);
      color: $tec-dark;

      span{
        color: $tec-blue;
      }
    }

    .img-fluid {
      position: relative;
      max-width: 450px;
      width: 100%;

      @include movil0 {
        top: 0rem;
      }

      @include movil768 {
        top: 4rem;
      }
    }
  }

  .shape {
    position: relative;
    top: -0.3rem;
  }

  .logos{
    max-width: 350px;
    width: 100%;
  }

  .img-hero{
    width: 100%;

    @include movil0{
      max-width: 650px;
    }

    @include movil991{
      max-width: 550px;
    }
  }
}
