.index {
  position: relative; 

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://image.admisiones.tec.mx/lib/fe2811747364057b721274/m/1/c28ee4a3-bdfb-466e-89e1-0f012b0ca0c8.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    background-attachment: fixed;
    z-index: -1;
  }

  .content-items {
    a {
      display: inline-block;
      text-decoration: none;
      position: relative;
      bottom: 0;
      transition: 0.3s ease;
      background-color: $primary-white;
      img {
        max-width: 40px;
      }

      span {
        font-size: 1.2rem;
        font-weight: 600;
        color: $primary-blue;
        position: relative;
        top: 5px;
      }

      &:hover {
        bottom: 5px;
        box-shadow: 0 .5rem 1rem #c9d6ff !important;
        transition: 0.3s ease;
      }
    }
  }
}
