$primary-blue: #051443;
$primary-white: #fff;

// Secundarios
$tec-warm: #F2EFEE;
$tec-heart: #F4D8E1;
$tec-dark: #252F56;
$tec-fire: #ED5E4C;
$tec-blueLight: #DDE4FD;
$tec-blueMedium: #b8c6fd;
$tec-blue:#4168FB;
$tec-gray: #aeaeae;



