.titleSnipet {
  display: none;
}

.cs-hero {
  background-attachment: fixed;
}

.cb-cards.c-012 .card-tec .icon a{
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #9CADF8;
  display: flex;
  justify-content: center;
  align-items: center;

  i{
    font-size: 1rem;
    color: #fff;
  }
}

.cb-form .contact a{
  &:hover{
    background-color: #fff;
    color: #252F56 !important;
  }
}



