@import "./partials/variables";
@import "./partials/fonts";
@import "./partials/general-style";
@import "./partials/responsive";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/heroBanners";
@import "./partials/content";
@import "./partials/cta";
@import "./partials/carousels";
@import "./partials/cards";
@import "./partials/appoiment";
@import "./partials/video";
@import "./partials/accordion";
@import "./partials/forms";
@import "./partials/index";

