.titleSnipet {
  display: none;
}

.cb-content{
  .icon{
    i{
      font-size: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
    }
  }
}

.cb-cards.c-011 .card-tec{
  width: 100%;
}

.cb-cards.c-011 .card-tec .img img{
  max-width: 300px;
}







